
{% extends 'base.html' %}
{% block a %}
<form method="post" novalidate>

    <div class="block p-6 rounded-lg bg-white max-w-sm m-auto">
        {% if messages %}{% for message in messages %}{{ message }}{% endfor %}{% endif %}
        <div class="form-group mb-6">

            <div class='text-2xl mb-10 text-center'>Sign in</div>

            <label for="id_username" class="form-label inline-block mb-2 text-gray-700">Username/Email</label>
            <input type="text" name="username" maxlength="150" autofocus required id="id_username" class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
      
            {% for field in form.visible_fields %}
            {% if forloop.counter == 1 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>



        <div class="form-group mb-6">
            <label for=" id_password" class="form-label inline-block mb-2 text-gray-700">Password</label>
            <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
    
            {% for field in form.visible_fields %}
            {% if forloop.counter == 4 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        

        {% if failed %}

        <div class="mt-20 text-center">
            <a href = "" class='text-red-600'>You are not registered as a Colleague yet!</a>
        </div>

        {% else %}

        <div class="mt-20 text-center">
            <a href = "{{ url_for('register') }}" class='text-blue-600 text-sm'>Do not have an account? Please register</a>
        </div>

        {% endif %}

        <input type="submit" name="login" value="login"
            class="
            w-full
            mt-5
            px-6
            py-3
            bg-blue-600
            text-white
            font-medium
            text-medium
            leading-tight
            uppercase
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out
            cursor-pointer">        
    </div>

    

</form>

{% endblock a %}