{% extends 'base.html' %}
{% block a %}



<form method="post" novalidate>

    <!--must have django procedure-->
    <div class="block p-6 rounded-lg bg-white max-w-sm m-auto">
        <div class="form-group mb-6">

            <div class='text-2xl mb-10 text-center'>Registration</div>

            <label for="id_username" class="form-label inline-block mb-2 text-gray-700 text-lg font-medium">Username</label>
            <input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder = "Username" class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-lg
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
      
            {% for field in form.visible_fields %}
            {% if forloop.counter == 1 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>


        <div class="form-group mb-6">
            <label for="id_email" class="form-label inline-block mb-2 text-gray-700 text-lg font-medium">Email</label>
            <input type="email" name="email" required id="id_email" placeholder="Email" class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">

            {% for field in form.visible_fields %}
            {% if forloop.counter == 2 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>


        <div class="form-group mb-6">
            <label for="id_phone" class="form-label inline-block mb-2 text-gray-700 text-lg font-medium">Phone</label>
            <input type="text" name="phone" required id="id_phone" placeholder='+19141233243' class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">

            {% for field in form.visible_fields %}
            {% if forloop.counter == 3 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>


        <div class="form-group mb-6">
            <label for=" id_password1" class="form-label inline-block mb-2 text-gray-700 text-lg font-medium">Password</label>
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="JohnDoe123" class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
    
            {% for field in form.visible_fields %}
            {% if forloop.counter == 4 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>


        <div class="form-group mb-6">
            <label for=" id_password2" class="form-label inline-block mb-2 text-gray-700 text-lg font-medium">Password confirmation</label>
            <input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="JohnDoe123" class="form-control
            block
            w-full
            px-3
            py-3
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">

            {% for field in form.visible_fields %}
            {% if forloop.counter == 5 %}
            <ul class="errorlist">
                <li class='text-red-600 text-sm'>{{ field.errors }}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>

        <div class="text-center">
            <a href = "{{ url_for('login') }}"  class='text-blue-600 text-sm'>Already have an acoount? Log in</a>
        </div>

        <input type="submit" name="register" value="register"
            class="
            w-full
            mt-5
            px-6
            py-3
            bg-blue-600
            text-white
            font-medium
            text-medium
            leading-tight
            uppercase
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out
            cursor-pointer">
    </div>



</div>
</form>


{% endblock a %}


 

        